.cardHeight {
    height:545px;
    border: none;

}
.bgBody {
    background: #edf4f3;
}
.productHeading {
    font-size: 16px;
    font-weight: 500;
}

.price {
    font-weight: 700;
    font-size: 18px;
}
.modalBtn{
    transition: background-color 0.5s;
    border: none;
    border-radius: 0;
    background-color:   #334349;
}
.modalBtn:hover{
    background-color: rgb(116, 116, 116);
}

.product{
    transition: 0.5s opacity ;
}
.imgSection{
    position: relative;
    height: 100%;
}