.removeBtn{
    color: black;
    font-weight: 500;
    background-color: transparent;
    border: none;
}
.removeBtn:hover{
opacity: 0.5;
}

.th{
    font-weight: 400;
    font-size: .8125rem;
    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 768px) {
    .th{
        padding: 5px!important;
    }
    
}
.cartImg {
    width: 100px;
    height: 120px;
}

.cartBtns{
    
    font-weight: 300;
    font-size: .8125rem;
    text-transform: uppercase;
    text-align: center;

}

.couponForm:focus{
    box-shadow:none;
}