.ld { transform-origin: 50% 50%; transform-box: fill-box; }
.ld-ring {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
  box-sizing: content-box;
}

.ld-ring:after {
  content: " ";
  display: block;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  transform-origin: 0em 0em;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
}
.ld-ring:after {
  border-radius: 50%;
  border: 0.3em solid currentColor;
  border-left-color: transparent;
}

.ld.ld-spin {
    animation: ld-spin 1s infinite linear; ; 
}
  @keyframes ld-spin
{
  0% {
    animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.ld.running {
    animation-play-state: running !important;
  }


  @media (max-width: 768px) {
    .addToCartBtn{
      /* width: 100%; */
      margin-top: 10px;
    }
    
  }