@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: Inter, sans-serif;

}
.loader{
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  
}
.swal2-confirm.swal2-styled{

  background-color: #59757e;
}

